
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#messages {
    position: relative;
    background-color: #00aa00;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    clear: both;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.our_navbar{
    backgroud-color: #000000;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.login{
    position: absolute;
    height: 100px;
    top: 0;
    bottom: 0;
    margin:auto;
    left:50%;
    margin-left:-100px;
    width:200px;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
} 

.tabelle {
	width: 1000px; border-collapse: collapse; 
}
.zelle{
	padding: 3px; 
	background-color: SkyBlue; 
	font-family: Verdana; 
	font-size: 12px;
	text-align: center; 
	color: Black; 
}
th {
	background-color: SteelBlue;
	padding: 3px; 
	color: White; 
	font-size: 12px;
	font-family: Verdana; 
}
.separate {
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
}
.separate td, table.separate th {
	border-bottom: 1px solid Gray;
	border-right: 1px solid Gray;
}
.separate tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
.separate tr:last-child td:last-child {
	border-bottom-right-radius: 20;
}
.separate tr th:first-child, table.separate tr td:first-child {
	border-left: 1px solid Gray;
}
.separate tr:first-child th, table.separate tr:first-child td {
	border-top: 1px solid Gray;
}
.separate tr:first-child th:first-child, table.separate tr:first-child td:first-child {
	border-top-left-radius: 10px
}
.separate tr:first-child th:last-child, table.separate tr:first-child td:last-child {
	border-top-right-radius: 10px;	
}